<div class="max-w-screen max-h-screen">
  <div class="flex flex-row h-12 max-w-screen pl-5 items-center bg-yellow-500">
    <nav class="flex flex-row w-full justify-start">
      <ul>
        <li class="px-2">
          <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="text-lg lg:text-xl"
            >Feature page
          </a>
        </li>
        <li class="px-2">
          <a
            routerLink="/search"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="text-lg lg:text-xl"
            >Search</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <router-outlet />
</div>
